*
!README.md
!docs/
!docs/ARCHITECTURE.md
!docs/images/
!docs/images/*
!notebooks/
!notebooks/taxonomy_ontology.ipynb
!notebooks/extraction.ipynb
!notebooks/retrieval_evaluation.ipynb
!notebooks/retrieval_tests.ipynb
!pyproject.toml
!app.py
scripts/
!src/
!src/**
__pycache__/
sa-key.json
.env
!data/*
!data
!data/**



